SEND_GRID_KEY = 
STRIPE_KEY=

TYPEORM_CONNECTION = mysql
TYPEORM_HOST = localhost
TYPEORM_USERNAME = root
TYPEORM_PASSWORD = 
TYPEORM_DATABASE = 
TYPEORM_PORT = 3306
TYPEORM_SYNCHRONIZE = false
TYPEORM_LOGGING = true
TYPEORM_ENTITIES = dist/**/*.entity.js


GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
APP_ID=
APP_SECRET=

urlEncryptionKey=
verifyRegistrationUrl=
registrationMailSendingApi=
mailSeningHeardersKey=
resetPasswordSendingMailApi=
orderMailSendingApi=

